
body {
    /*   background:#5599bb; */
    /*background:#00687B;*/
    /*font: normal 100% SimHei, Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;*/
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu, serif;
    margin: 0;
    outline: none;
    /*font-size:12px;*/
}

/*.container {*/
    /*margin: 0 auto;*/
    /*width: 1280px;*/
    /*height: 800px;*/
/*}*/

#icon {
    display: block;
    width: 64px;
    height: 64px;
    float: left;
    margin-right: 10px;
}

.header {
    margin-left: 0;
    width: 90%;
    padding: 60px 60px 60px 0;
}

h1 {
    font: normal 100% Helvetica, Arial, sans-serif;
    float: left;
    font-weight: bold;
    font-size: 2.8em;
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 100px;
    height: 50%;
}

.image {
    float: left;
}

#image1 {
    margin-left: 0;
}

#image2 {
    margin-left: 100px;
}

#image3 {
    margin-left: 128px;
}

.description {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

